*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background:linear-gradient(150deg, rgb(25, 127, 103) ,rgb(34, 84, 137) );
    
    height: 100%;
    
}
.card{

    width: 90%;
    max-width: 450px;
    height: 500px;
    background: linear-gradient(150deg, rgb(25, 127, 103) ,rgb(34, 84, 137) );
    color: white;
    border-radius: 5%;
    border:1px solid whitesmoke;
    margin: 100px auto 10%;
    text-align: center;
    padding: 5%;
}
.search{
    width:100%;
    display: flex;
    justify-content: center;
}

.search input{
    height: 7vh;
    border-radius: 30px;
    padding: 3%;
    border: 0;
    margin-right: 2%;
    font-size: medium
 
}
.search button{
    height: 7vh;
    border-radius: 30px;
    padding: 3%;
    cursor: pointer;
    border: 0;
}

.search img{
    width:50%

}

@media (max-width:380px) {
    .search{

        width: 100vw;
        position: relative;
        left: -20px;
    }
    .search button{
        width: 10vw;
    }
    .search img{
        width:150%;
    }
    
    .card{
        width:auto
    }
    
} 